:root {
  --color-bg: #F9F7F7;
  --color-accent: #DBE2EF;
  --color-text: #3F72AF;
  --color-bg-secondary: #112D4E;
}


body{
  background-color: var(--color-bg-secondary);
  color: var(--color-text);
  font-family: "Fira Code", monospace;
}

