:root {
  --color-bg: #F9F7F7;
  --color-accent: #DBE2EF;
  --color-text: #3F72AF;
  --color-bg-secondary: #112D4E;
}



.section1 {
    background-color: #901E3E;
    
}

body{
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: font-family: "Fira Code", monospace;
}